*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    height: 7rem;
    background-color: blue;
}
#logoimg{
    height: 70%;
    padding: 1rem 0;
}
#logo{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

.container{
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: none;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.product img{
    width: 100%;
}
.productlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
}
.product{
    border: 1rem solid rgb(229, 222, 222);
    padding: 1rem;
    border-radius: 0.7;
    margin-top: 1rem;
}
.add{
    background-color: rgba(14, 148, 14, 0.975);
    height: 2rem;
    width: 4rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}
.add:hover{
    background-color: rgb(25, 137, 25);
}
.rating{
    color: orange;
}
.prise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

@media(min-width:768px ){
    #menu{
        display:none;
    }
    nav{
        display: block;
    
    }
    .productlist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
}
ul a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

